@import '../../../styles/mixins/flexbox';
@import '../../../styles/variables/colors';
@import '../../../styles/variables/fonts';
@import '../../../styles/base/main-container';

$task-width: 100%;
$first-part-width: 6rem;
$status-buttons-width: calc( #{$task-width} - 30% );
$priority-buttons-width: calc( #{$task-width} - 60% );

$title-height: calc( #{$main-container-height} - 85% );
$description-height: calc( #{$main-container-height} - 55% );
$status-height: calc( #{$main-container-height} - 85% );
$priority-height: calc( #{$main-container-height} - 85% );
$buttons-bar-height: calc( #{$main-container-height} - 90% );

.add-task-container {
    @include flexbox(column, flex-start, flex-start);

    width: $main-container-width;
    height: $main-container-height;
    box-sizing: border-box;
    background: inherit;
    box-shadow: inset 0 0 1rem $DarkKhaki;
    border-color: inherit;

    .title-container {
        @include flexbox(row, center, flex-start);

        height: $title-height;
        width: $task-width;
    }

    .description-container {
        @include flexbox(row, center, flex-start);

        height: $description-height;
        width: $task-width;
    }

    .priority-container {
        @include flexbox(row, center, flex-start);

        height: $priority-height;
        width: $task-width;      
    }    

    .status-container {
        @include flexbox(row, center, flex-start);

        height: $status-height;
        width: $task-width;         
    }

    .buttons-bar {
        @include flexbox(row, center, flex-end);

        height: $buttons-bar-height;
        width: $task-width;   
        
        button {
            width: 5rem;
            min-width: 5rem;
            padding: .5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            color: $white-font-color;
            background-color: $DarkGray;
            border: none;
            box-shadow: rgba(0,0,0,0.2) 1px 2px 2px 1px;

            &:active {
                box-shadow: rgba(0,0,0,0.2) 0px 0px 0px 1px;
            }
        }

        button:focus {
            outline: none;
        }
    }

    .first-part {
        @include flexbox(row, flex-start, flex-end);

        width: $first-part-width;
        color: $DarkGray;
        font-size: $task-list-font-size;
        margin: 1rem;
    }

    .second-part {        
        @include flexbox(row, flex-start, center);

        width: $task-width;
        margin-right: 1rem;

        input {
            color: $DarkGray;
            font-size: $task-list-font-size;
            width: $task-width;
        }

        textarea {
            resize: none;
            color: $DarkGray;
            font-family: $global-font-family;
            font-size: $task-list-font-size;
        }

        input, textarea:focus {
            outline: none;
        }    
    }

    .status-buttons {
        @include flexbox(row, flex-start, center);
        
        width: $status-buttons-width;
        color: $DarkGray;
        font-size: $task-list-font-size;
    }

    .priority-buttons {
        @include flexbox(row, flex-start, center);
        
        width: $priority-buttons-width;
        color: $DarkGray;
        font-size: $task-list-font-size;
    }
}