<div class="main-container">
    <div class="add-task-container">
        <div class="title-container">
            <div class="first-part">
                <label>Title:</label>
            </div>
            <div class="second-part">
                <input type="text" name="title" placeholder="Please provide a title of the task ..." [(ngModel)]="task.title"/>
            </div>                        
        </div>
        <div class="description-container">
            <div class="first-part">
                <label>Description:</label>
            </div>
            <div class="second-part">
                <textarea name="Description" cols="61" rows="12" placeholder="Please provide a description of the task ..." [(ngModel)]="task.description"></textarea>
            </div>             
        </div>
        <div class="priority-container">            
            <div class="first-part">
                <label>Priority:</label>
            </div>
            <div class="second-part">
                <div class="priority-buttons">
                    <input type="radio" name="priority" value="0" [(ngModel)]="task.priority"/>Low
                    <input type="radio" name="priority" value="1" [(ngModel)]="task.priority"/>High
                </div>
            </div>                
        </div>           
        <div class="status-container">
            <div class="first-part">
                <label>Status:</label>
            </div>
            <div class="second-part">
                <div class="status-buttons">
                    <input type="radio" name="status" value="0" [(ngModel)]="task.status"/><span>Not</span><span>&nbsp;Done</span>                    
                    <input type="radio" name="status" value="1" [(ngModel)]="task.status"/><span>In</span><span>&nbsp;Progress</span>
                    <input type="radio" name="status" value="2" [(ngModel)]="task.status"/>Done
                </div>
            </div>              
        </div>
        <div class="buttons-bar">
            <button (click)="onAdd()">Add</button>
            <button (click)="onCancel()">Cancel</button>
        </div>    
    </div>
</div>
