<div class="main-container">
  <div class="tasks-list-container">
    <div class="search-task">
      <input type="text" placeholder="Search by keyword" [(ngModel)]="searchTask">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <hr>
    <div class="task-item" *ngFor="let task of (tasksList | taskFilter:searchTask); let i=index" (click)="editTask(task)">
      <span class="task-id">
        {{i + 1}}
      </span>
      <span class="task-name">
        {{task.title}}
      </span>
      <span class="task-priority" *ngIf="task.priority==0; then low else high">    
      </span>
      <span class="task-status" *ngIf="task.status==0">
        Not Done
      </span>  
      <span class="task-status" *ngIf="task.status==1">
        Done
      </span>   
      <span class="task-status" *ngIf="task.status==2">
        In Progress
      </span>        
      <span class="task-delete" (click)="removeTask(task)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </span>         
    </div>
  </div>
</div>

<ng-template #low><span class="task-priority">Low</span></ng-template>  
<ng-template #high><span class="task-priority">High</span></ng-template>