@import '../../../styles/mixins/flexbox';
@import '../../../styles/variables/colors';
@import '../../../styles/variables/fonts';
@import '../../../styles/base/main-container';

$task-list-height: 2.5rem;
$task-list-width: calc( #{$main-container-width} - #{4rem} );
$task-list-radius: .4rem;
$task-id-width: calc( #{$task-list-width} - 95% );
$task-name-width: calc( #{$task-list-width} - 40% );
$task-priority-width: calc( #{$task-list-width} - 85% );
$task-status-width: calc( #{$task-list-width} - 85% );
$task-delete-width: calc( #{$task-list-width} - 95% );

 .tasks-list-container {
    width: $main-container-width;
    height: $main-container-height;
    box-sizing: border-box;
    background: inherit;
    box-shadow: inset 0 0 1rem $DarkKhaki;
    border-color: inherit;
    padding: 1rem;
    font-family: $global-font-family; 
    border-style: outset;
    overflow: auto;

    .search-task {
        @include flexbox(row, center, center);

        width: $task-list-width;
        margin-bottom: 1rem;

        i {
            color: $DarkGray
        }

        input {
            border: none;
            border-bottom: 1px solid $DarkGray;
            text-align: center;
            font-size: $task-list-font-size;
            color: $Grey;
        }

        input:focus {
            outline: none;
        }
    }

    .task-item {
        @include flexbox(row, center, flex-start);

        height: $task-list-height;
        width: $task-list-width;
        border-radius: $task-list-radius;
        color: $DarkGray;
        font-size: $task-list-font-size;
        background-color: $white;
        box-shadow: rgba(0,0,0,0.2) 1px 2px 2px 1px;
        padding-left: 1rem;
        margin-top: .3rem;
        cursor: pointer;

        .task-id {
            width: $task-id-width;
        }

        .task-name {
            width: $task-name-width;          
        }

        .task-priority {
            width: $task-priority-width;         
        }

        .task-status {
            width: $task-priority-width;          
        }

        .task-delete {
            width: $task-delete-width;    
            cursor: default;  
        }

        &:active {
            box-shadow: rgba(0,0,0,0.2) 0px 0px 0px 1px;
        }

        &:hover {
            background-color: $DarkKhaki;
            color: $white-font-color;
        }
    }   
 }

