@charset 'UTF-8';

// Main Colors
	$alpha: rgba(0,0,0,0);
	$black: #000000;
	$white: #FFFFFF;

// UX Defined colors
	$blue: #213E7F;
	$DarkKhaki: #BDB76B;
	$DarkCyan : #008B8B;
	$DarkGray: #A9A9A9;
	$Grey: Grey;


// Font colors
	$white-font-color: $white;
	$dark-font-color: $black;