@import '../../../styles/mixins/flexbox';
@import '../../../styles/variables/colors';
@import '../../../styles/variables/fonts';

$menu-width: 100%;
$menu-height: 12rem;

.menu-container {
    @include flexbox(column, center, center);
    width: $menu-width;
    height: $menu-height;
    font-size: $title-font-size;
    color: $blue;

    li {
        display: inline;
        padding-right: 1.5rem;
        font-size: $nav-font-size;

        a {
            color: $DarkKhaki;
        }

        a:active {
            color: $blue;
        }
    }

    hr { 
        width: 40%;    
    }
}