<div class="menu-container">
	Simple TODO List
	<nav>
		<ul>
			<li><a routerLink="/tasks" routerLinkActive="active">Tasks list</a></li>
			<li><a routerLink="/details" routerLinkActive="active">Add task</a></li>			
		</ul>
	</nav>
	<hr>
</div>

