@import '../../../styles/mixins/flexbox';

$page-not-found-image-width: 36rem;
$page-not-found-image-height: 26rem;

.page-not-found-container {
     @include flexbox(row, center, center);

     margin-top: 1rem;

     img {
        width: $page-not-found-image-width;
        height: $page-not-found-image-height;
     }
}